<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/Theme.Braxon"
        android:label="Braxon"
        android:hasCode="false"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|density|uiMode"
            android:enableOnBackInvokedCallback="true"
            android:windowSoftInputMode="adjustNothing">
            <meta-data android:name="android.app.lib_name" android:value="braxon_android" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
